/* Universal Selector */
*{
    margin: 0%;
    padding: 0%;
}

/* Element Selector */
body{
    background: rgb(21, 16, 20);
}


h1{
    color: #ff0000;
}

h2{
    color: #ff0000;
}

/* Class Selector */
.color{
    color: blue;
}

/* ID Selector */
#color2{
    color: gold;
}

/* Element & Class Selector */
h1.color{
    color: blueviolet;
}

h5#color{
    color: chartreuse;
}
h1.color3{
    color: darkorange;
}

h3,h4,h5{
    color: #d900ff;
}

